.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 10vw;
}
.logo {
  width: 20vw;
  height: 20vw;
  display: inline-block;
}
.anim {
  transition: transform 0.3s;
  transform: scale(1.3);
}
.anim span {
  transition: transform 0.3s;
  transform: rotateZ(360deg);
}
